<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%#= @crytpo_tweets.inspect %>
<div>
  <ul>
  <!-- <%#= link_to 'Home', root_path %>
        <% if current_user %>
          <li>Signed in as <%#= current_user.name %></li>
        <% else %>
          <li><%#= link_to "Sign in with Twitter", "/auth/twitter" %></li>
        <% end %>
        </ul>
    </div> -->
